<div style="text-align: center;">
    <h1 style="font-weight: 600px;font-size:26px;color:#555">Esqueceu sua senha?</h1>
    <p>Por favor clique no link abaixo para redefinir sua senha.</p>
    <a href="<%= verifyHref %>">Redefinir Senha</a>
</div>